.conatiner {
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 60px 160px 40px 160px;

  min-height: 100vh;
}
.mainConatiner {
  max-width: 1280px;
  margin: 40px auto;
}
.labname {
  font-weight: 600;
  font-size: 24px;
  line-height: 23px;
  letter-spacing: -0.25px;
  color: #131313;
}
.aboutsection {
  margin: 24px 0;
  /* min-height: 155px; */
}
.roomContainer {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
  width: 100%;
  max-width: 1280px;
}
.slectioncard {
  box-shadow: 4px 2px 12px 0px #0000001f;
  border-radius: 24px;
  background: #ffffff;
  padding: 48px;
  /* height: 302px; */
}
.label,
.tripdetailtext {
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: -0.25px;
  color: #7d7d7d;
}
.tripdetailtext {
  font-size: 16px;
}
.rowconatiner {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.cardrow {
  width: 41.61%;

  border-bottom: 1px dashed #7d7d7d;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.rowheading {
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: -0.25px;
  color: #131313;
}

.buttonContainer {
  width: 100%;
  display: flex;
  gap: 10px;
  /* justify-content: space-between;  */
  padding: 10px;
  /* position: absolute; */
}

.checkinbtn {
  padding: 16px;
  border: 0.5px solid #7d7d7d;
  height: 88px;
  border-radius: 24px;
  background-color: transparent;
  width: 130px;
  height: 112px;
  cursor: pointer;
  color: #7d7d7d;
  font-size: 14px;
  font-weight: 400;
}
.guestContainer,
.typeContainer {
  border: none;
  border-radius: 24px;
  height: 344px;
  width: 444px;
  padding: 16px;
  position: absolute;
  top: 280px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 3;

  /* Logical properties (works for both LTR & RTL) */
  inset-inline-end: 40px; /* replaces 'right' in LTR, 'left' in RTL */
}
.typeContainer {
  height: 250px;
}
.cardheading {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #7d7d7d;
}
.cardrowguest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px #7d7d7d solid;
  align-items: center !important;
  padding: 6px 0;
  position: relative;
}
.rowtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  line-height: 12px;
  vertical-align: baseline;
  letter-spacing: -0.75px;
  color: #131313;
}
.rowsubtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.75px;
  color: #7d7d7d;
}
.browseimg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.cardText {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  color: #131313;
  transition: color 0.3s ease;
}
.clearbtn {
  color: #65558f;

  font: 14px;
  font-weight: 600;
  background-color: transparent;
  border: none;
}
.HouseContainer {
  overflow-y: auto !important;
  height: 80%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.guestbtn {
  display: flex;
  justify-content: space-between;
  width: 95%;
  /* border-radius: 24px; */
  /* border: 0.5px solid #7d7d7d; */
  cursor: pointer;
  background-color: transparent;
  height: 48px;
  padding: 16px;
  /* margin-bottom: 16px; */
  text-align: start;
  color: #7d7d7d;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  border: none;
}

.additionbar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.circleMinus {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid #cccccc;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
  font-size: 14px;
}
.item {
  color: #7d7d7d;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.25px;
}
.circlePlus {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  border: 1px solid #7d7d7d;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
  font-size: 14px;
}

.value {
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  letter-spacing: -0.75px;
  text-align: center;
  color: #000000;
  min-width: 20px;
}

.deatiltext,
.abouttext,
.detailitemtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: #7d7d7d;
}
.abouttext {
  color: #131313 !important;
  font-weight: 600 !important;
}

.detailitemtext {
  font-size: 18px !important;
}
.lidot {
  width: 6px;
  height: 6px;
  background-color: #0e54a3;
  border-radius: 50%;
}

/* .............. */
.onPannel {
  background-color: #eaf4ff;
  width: 65px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0e54a3;
  font-weight: 600;
  font-size: 8px;
  border-radius: 24px;
}
.citynamee {
  color: #13a89e;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.25px;
}
.hotelName {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.25px;
  color: #131313;
}

.propertycard {
  height: 208px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 4px 2px 12px 0px #00000040;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  overflow: hidden;
}
.pfirst {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  flex: 1;
}
.psecound {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.heart {
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0; /* Remove any padding that might be creating space */
  border-radius: 0;
}

.psecoundcontent {
  width: 223px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  height: 208px;
}
.psecoundconententHead {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
}
.psecoundcontentBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pvalue {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: #7d7d7d;
}
.pRs {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: #7d7d7d;
}
.pimgConatiner {
  width: 192px;
  /* height: 108px; */
  position: relative;
}
.pimg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.psecoundconententBottom {
  border-top: 1px dashed #7d7d7d;
  padding-top: 16px;
}
.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.25px;
  color: #131313;
}
.smalltext {
  color: #7d7d7d;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: -0.25px;
}
.pfirstfirstcontent {
  width: 223px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  height: 208px;
}
.pfirstcontenthead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Bookingcard {
  width: 476px;
  /* height: 278px; */
  margin-top: 48px;

  border-radius: 18px;
  background: #ffffff;
  box-shadow: 4px 2px 12px 0px #00000040;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.Bookingrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookingtotal {
  border-top: 0.5px solid #7d7d7d;
  padding-top: 16px;
}
.bookingheading {
  border-bottom: 0.5px solid #7d7d7d;
  padding-bottom: 16px;
}
.BookingContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.bookingtext {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #131313;
}
.totaltext {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #0e54a3;
}
.BookbtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bookbtn {
  background: #0e54a3;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  width: 280px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
/* ............... */

@media (max-width: 1440px) {
  .conatiner {
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 60px 60px 40px 60px;

    min-height: 100vh;
  }
}

@media (max-width: 800px) {
  .rowconatiner {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
  }
  .slectioncard {
    height: auto;
  }
  .cardrow {
    width: 90%;

    border-bottom: 1px dashed #7d7d7d;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .propertycard {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .pimgConatiner {
    width: 100%;
  }
  .pfirst {
    width: 100%;
  }
  .psecound {
    width: 100%;
    justify-content: flex-start;
  }
  .psecoundcontent {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .propertycard {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .pimgConatiner {
    width: 100%;
  }
  .pfirst {
    width: 100%;
  }
  .psecound {
    width: 100%;
    justify-content: flex-start;
  }
  .psecoundcontent {
    width: 100%;
  }
  .Bookingcard {
    width: auto;
  }

  .guestContainer,
  .typeContainer {
    height: 344px;
    padding: 16px;
    position: absolute;
    width: 350px;
    top: 280px;
    /* bottom: 10px; */
    left: 28px;
    /* right: 40px; */
    /* height: 90%; */
    padding: 16px;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 3;
  }
  .typeContainer {
    height: 250px;
  }
}
