.outerContainer {
  padding: 16px;
  border-radius: 4px;
  background-color: white;
  height: 78vh;
}
.Carda {
  width: 328px;
  height: 128px;
  background-color: #e3f5ff;
  border-radius: 16px;
  padding: 0 32px;
  box-shadow: 0 5px 5px 0 gray;
}
.Cardb {
  width: 328px;
  height: 128px;
  background-color: #e5ecf6;
  border-radius: 16px;
  margin: 0 25px;
  padding: 0 32px;
  box-shadow: 0 5px 5px 0 gray;
}
.chart {
  height: 89px;
  width: 89px;
  margin-top: 20px;
}
.selection > select {
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  padding-top: 25px;
}
.medical > li {
  margin: 0 100px;
}
.doctorss > nav {
  height: 72px;
  display: flex;
  justify-content: center;
  background-color: white;
  height: 50px;
  position: sticky;
  z-index: 1;
  top: 15%;
}

.navvvlink {
  margin: 0 15px;
  font-size: 14px;
  font-weight: 600;
  color: #d9d9d9 !important;
  font-size: 16px;
  font-weight: 600;
}
.selected {
  border-bottom: 2px solid #020e35;
  color: #020e35 !important;
}
.empty {
  width: 256px;
  height: 189px;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.start {
  display: flex;
  justify-content: start;
}
.end {
  display: flex;
  justify-content: end;
}
.close {
  outline: none;
  font-size: 22px;
  background-color: transparent;
  color: gray;
  border: none;
}
.datebox {
  height: 45px;
  border-radius: 8px;
  width: 532px;
  padding: 2px 40px;
  background-color: #dbdbdb;
  margin-top: 8px;
  color: #00276d;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.closee {
  height: 24px;
  width: 24px;
  color: #fb2047;
}
.mrauto {
  margin-left: auto;
}
.dropdown {
  margin-top: 8px;
  background-color: #00276d !important;
  border-radius: 8px !important;
  width: 612px !important;
  color: white !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
.borderbttom {
  border-bottom: 1px solid white;
  width: 190px;
  margin-right: 32px;
}
.editbox {
  background-color: #f0f2f6;
  color: #00276d;
  border-radius: 8px;
  padding: 8px 15px;
}
.ml20 {
  padding-left: 25px;
}
.pr20 {
  padding-right: 25px;
}
.cancel {
  padding: 5px 15px;
  margin-top: 56px;
  margin-right: 32px;
  background-color: #f0f2f6;
  color: #f93a5d;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #f0f2f6;
}
.save {
  padding: 5px 15px;
  margin-top: 56px;
  margin-right: 32px;
  background-color: #f0f2f6;
  color: #0b7328;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #f0f2f6;
}
.logo {
  height: 16px;
  width: 16px;
  margin-top: 5px;
  margin-right: 8px;
}
.mt16 {
  margin-top: 16px;
}

.DropdOWn {
  background-color: #dbdbdb !important;
  border-radius: 8px !important;
  width: 612px !important;
  color: #00276d !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}
.borderbttom {
  border-top: 2px solid white;
}
.editbox {
  background-color: #f0f2f6;
  color: #00276d;
  border-radius: 8px;
  padding: 5px 10px;
  width: 70px;
  margin-left: auto;
}
.Faedit {
  margin-right: 8px;
}
.borderTOP {
  border-top: 2px solid white;
}
.Outermargin {
  margin-top: 60px;
  margin-left: 110px;
}
.close {
  height: 25px;
  width: 25px;
  margin-left: auto;
  cursor: pointer;
  color: #00276d;
}
.mt16 {
  margin-top: 16px;
}
.Back {
  height: 25px;
  width: 25px;
  cursor: pointer;
  color: #00276d;
}
