.maincontainer {
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 128px 160px;

  min-height: 100vh;
}
/* new cards style  */
.cardContainer {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.bulletWrapper > ul > div > li {
  font-size: 12px;
  width: 300px;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardboady {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  gap: 12px 0;
  box-shadow: 4px 2px 12px 0px #00000040;
  margin: 0;
  height: 224px;
  background-color: #fff !important;
}

.cardImageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 4px 0px 8px 3px rgba(0, 0, 0, 0.08);
  width: 223px;
  height: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  background-color: #fff;
}

.cardImage {
  width: 100%;
  height: 100%;
  /* object-fit: fill; */
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff;
}

.cardname {
  font-weight: 600;
  font-size: 16px;
  line-height: 14px !important;
  /* letter-spacing: -0.25px; */
  color: var(--Black, #131313);
}

.description {
  font-size: 14px !important;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: -0.25px;
  color: var(--Black, #131313);
}

.phc {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.25px;
  color: var(--Color-Green, #13a89e);
}

.bottomtext {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.25px;
  color: var(--Black, #131313);
}

.cardIcon {
  width: 16px;
  height: 16px;
}

.cardicontext {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.25px;
  color: #7d7d7d;
}

.datadetailsrow {
  display: flex;
  gap: 0 8px;
}

.datadetails {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.detailbottom {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 60%;
}

.bottomsperator {
  border-right: 2px solid #7d7d7d;
  margin: 0 5px;
}

.carddatacolumn {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* margin-left: 12px; */
  height: 100%;
  padding: 16px;
  width: 223px;
}

/* ........................... */

.testListContainer {
  width: 100%;
  overflow-y: auto;
  max-height: 300px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.testListContainer::-webkit-scrollbar {
  display: none;
}

.description {
  font-weight: 600;
  margin-bottom: 12px;
}

.testItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.bulletWrapper {
  margin: 0;
  padding-left: 20px; /* 👈 important for bullet spacing */
  list-style-type: disc;
}
.bulletItem {
  /* color: blue; */
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.25px;
  /* text-align: justify; */
  text-align: left;
  color: #7d7d7d;
}
.bulletItem::marker {
  color: #0e54a3;
  width: 6px;
  height: 6px;
}
.bulletContent {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.pricebutton {
  background-color: #ff9500;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

/* ............. */
.secoundcolumn {
  background-color: #fff;
  display: flex;
  margin-left: 12px;
  height: 100%;
  /* padding: 16px 0; */
  align-items: flex-start;
  flex: 1 1 0;
  min-width: 0;
}

.cardsperator {
  border-right: 2px solid #7d7d7d;
  margin: 0 30px;
  height: 100%;
}

.secoundcolumncontent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 16px;
}
.pricebutton {
  width: 128px;
  height: 26px;

  border-radius: 8px;
  gap: 2px;
  border: 0.5px solid #0e54a3;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #7d7d7d;
  font-weight: 400;
  background-color: transparent !important;
  cursor: pointer;
}

.bulletWrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  /* margin-top: 3px; */
  width: 80%;
}

.bulletDot {
  width: 6px;
  height: 6px;
  background-color: #0e54a3;
  border-radius: 50%;
  margin-top: 5px;
  flex-shrink: 0;
}

.bulletText {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.25px;
  /* text-align: justify; */
  text-align: left;
  color: #7d7d7d;
  /* width: 65%; */
}

.cardsfooter {
  display: flex;
  justify-content: space-between;
  /* margin-top: 10%; */

  width: 100% !important;
  /* align-items: flex-end; */
  align-self: flex-end;
  border-top: 1px dashed #7d7d7d;
}

.cardbuttoncontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end !important;
}

.carddeialbutton {
  color: #0e54a3;
  border: 1px solid #0e54a3;
  background-color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 50px;
  height: 34px;
  border-radius: 24px;
  margin-bottom: 5px;
  cursor: pointer;
}

.cardhelplbutton {
  cursor: pointer;
  border: none !important;
  background-color: #0e54a3;
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 50px;
  height: 34px;
  border-radius: 24px;
  margin-bottom: 5px;
  white-space: nowrap;
}
.totaltext,
.totalvalue {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.25px;
  color: #131313;
}
.totalvalue {
  font-weight: 600;
}

/* .............media queey.......... */

@media (max-width: 1200px) {
  .maincontainer {
    background-color: #f5f5f5;
    box-sizing: border-box;
    padding: 128px 30px;

    min-height: 100vh;
  }
  .secoundcolumn {
    margin-left: 3px !important;
  }

  .carddatacolumn {
    width: 142px;
  }

  .bulletText {
    /* text-align: justify; */
    text-align: left;
    color: #7d7d7d;
    /* width: 70%; */
  }
}

@media screen and (max-width: 800px) {
  .cardboady {
    display: flex !important;
    flex-wrap: wrap !important;
    height: auto !important;
  }

  .cardImageContainer {
    width: 40%;
    height: 200px;
  }

  .carddatacolumn {
    width: 55%;
    height: 200px;
  }

  .secoundcolumn {
    width: 100% !important;
    flex-basis: 100% !important;
    height: auto !important;
    margin-left: 3px !important;
    margin-top: 8px;
  }

  .cardsperator {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
}
