.labcontainer {
  margin: 0 auto;
  margin-top: 60px;
  padding-top: 60px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.maintext,
.orangetext {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #0e54a3;
  text-align: center;
  margin-bottom: 24px;
}

.orangetext {
  color: #ff7631 !important;
}
.detailtextarea {
  width: 75%;
  margin: 0 auto;
}

.detailtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #7d7d7d;
  text-align: center;
}
