.customSelect {
  color: #393a44;
  font-size: 22px;
  font-weight: 600;
  background-color: transparent;
  border-radius: 5px;
  width: 200px;
}
.customSelect:focus {
  border: none;
  outline: none;
}
.customOption {
  color: #393a44;
  font-size: 16px;
  font-weight: 500;
}
.loader {
  margin-left: 24px;
}
.mainOuter {
  width: 100%;
  padding: 24px 40px 24px 24px;
  box-sizing: border-box;
}
.Navouter {
  position: sticky;
  z-index: 1000;
  top: 0%;
}
.refresh {
  font-size: 22px;
  margin-left: 32px;
  cursor: pointer;
  color: #393a44;
}
.tableData {
  overflow: auto;
  height: 66vh;
}
.tableData::-webkit-scrollbar {
  display: none;
}
.tableData::-webkit-scrollbar-track {
  display: none;
}

.tableData::-webkit-scrollbar-thumb {
  display: none;
}

.tableData::-webkit-scrollbar-thumb:hover {
  display: none;
}
.tableData22 {
  overflow: auto;
  height: 34vh;
}
.tableData22::-webkit-scrollbar {
  display: none;
}
.tableData22::-webkit-scrollbar-track {
  display: none;
}

.tableData22::-webkit-scrollbar-thumb {
  display: none;
}

.tableData22::-webkit-scrollbar-thumb:hover {
  display: none;
}
.tableRow {
  width: 100%;
}
.tableRow:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 4px, rgba(0, 0, 0, 0.23) 2px 2px 4px;
  color: #000000 !important;
  background-color: white !important;
  /*      */
}
.wapper > tr {
  color: #393a44 !important;
  border: 1px solid #d8e1ec;
  font-size: 14px;
  font-weight: 500;
  background-color: white !important;
  cursor: pointer;
  /*      */
}
.wapper > tr:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 0px,
    rgba(136, 134, 134, 0.23) 4px 3px 10px;
  transform: scale(1);
  color: #0d47a1 !important;
  background-color: white !important;
}
.w20 {
  width: 16.66% !important;
}
.headerclass {
  width: 16.66% !important;
  text-align: center;

  padding: 15px;
  font-size: 14px;
}
.headerOuter {
  display: flex;
  align-items: center;
  /* background-color: white; */
  /* color: black; */
  background-color: white;
  color: #393a44;
  border-radius: 14px 14px 0 0;
  position: sticky !important;
  top: 115px;
}
.payment {
  margin-top: 24px;
}
.statusComp {
  color: #393a44;
  background-color: #00b69b;
  border-radius: 8px;
  padding: 8px;
  width: 95px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.statusProcessingText {
  color: #393a44;
  background-color: #fdcb2e;
  border-radius: 8px;
  padding: 8px;
  width: 95px;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.statusPendingText {
  color: #393a44;
  background-color: #fd5650;
  border-radius: 8px;
  padding: 8px;
  width: 95px;
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.Navouter {
  position: sticky;
  z-index: 1000;
  top: 0%;
}
