.outercontainer {
  margin-top: 56px;
  margin-left: 112px;
}
.MianOuter {
  padding: 100px 112px 0px 112px;
  box-sizing: border-box;
}
.lock {
  width: 337px;
  height: 552px;
  margin-right: 100px;
}

.mt100 {
  margin-top: 100px;
}
.mt50 {
  margin-top: 50px;
}
.mt16 {
  margin-top: 16px;
}
.BackIcon {
  height: 14px;
  width: 14px;
  cursor: pointer;
  color: #00276d;
  margin-right: 8px;
}
