.branch {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
}
.refresh {
  font-size: 22px;
  margin-left: 32px;
  cursor: pointer;
  color: #393a44;
}
.Account {
  font-size: 24px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.25px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #131313;
  font-size: 18px;
}
.accountbtn {
  font-size: 18px;
  width: auto;
  height: auto;
  border-radius: 24px;
  background-color: #0e54a3 !important;
  border: none !important;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 17.5px 24px 17.5px 24px;
  color: #ffff;
  line-height: 12.22px;
  font-weight: 600;
  box-shadow: 4px 4px 12px 0px #00000040;
}

@media (max-width: 480px) {
  .accountbtn {
    margin-top: 10px;
  }
}
.outerRefresh {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border-radius: 12px;
  background-color: #f6fafe33;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
