.maincontainer {
  padding: 0px 160px 40px 160px;
  background: #ffffffb2;
}
.heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #0e54a3;
}
.headingConatiner {
  margin: 60px auto 36px auto;
}

@media (max-width: 1400px) {
  .maincontainer {
    padding: 0px 60px 40px 60px;
    background: #ffffffb2;
    /* border: 2px solid black; */
  }
}
